<p>Dear <%=recipientName%>,</p>
<br/>
<p>You have request to recover your account.</p>
<p>You may recover your password using below link.</p>
<p><a href="<%=baseUrl %>/#/recover/<%=token %>">Confirm</a></p>
<p>Love,<br/><%=senderName%></p>