<p>Dear <%=recipientName%>,</p>
<br/>
<p>Thank you for creating account.</p>
<p>You may confirm your account using the below link.</p>
<p><a href="<%=baseUrl %>/#/confirm/<%=token %>">Confirm</a></p>
<p>Thanks,<br/><br/><%=senderName%></p>